.dv_account{
    position: relative;
}

.dv_account .div1{
    padding: 10px;
    background-color: rgb(253, 253, 253);
    position: absolute;
    top: 80%;
    right: -50%;
    /* width: 100px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    display: none;
    box-shadow: 0 0 15px rgba(201, 201, 201, 0.5);
}

.dv_account .div1 a{
    text-decoration: none;
    color: #ffffff;
    padding: 10px 50px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    white-space: nowrap;
    background-color: rgb(113 205 20 / 80% );
    flex: 1;
}

.dv_account .div1 a:hover{
    background-color: rgb(113 205 20 );
}

.dv_account .div1 p{
    margin: 5px;
    padding: 5px;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap;
}

.dv_account:hover .div1{
    display: flex;
}

.oneline{
    white-space: nowrap;
}